/*google fonts integrate*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*global css here*/

*{
	margin: 0;
	padding: 0;
}
 h1, h2, h3, h4, h5, h6{
	font-family: 'Raleway'
}
a, p, span, input{
	font-family: 'roboto'
}
a, a:hover{
	text-decoration: none;
}

/*header section css here*/

.header{
	width: 100%;
	background: url(../img/header-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
.nav-item{
	margin-left: 60px;
}
.nav-link{
	color: #fff !important;
	transform: all 0.75s ease-in-out;
}
.nav-link:hover{
	color: #000 !important;
	transform: all 0.75s ease-in-out;
}
.header h1{
	text-transform: uppercase;    
	color: #fff;
	margin-top: 16rem;
	margin-left: 45px;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	display: inline-block;
	text-align: center !important;
	
}
.header h6{
	color: #fff;
	padding-bottom: 4rem;
	text-align: center !important;	
}

/*body section css here*/
.body{
	width: 100%;
}
.contant-desc{
	margin-top: 8rem;
}
.right span{	
	font-weight: 600;
}
.right p{
	margin-top: 2rem;
	margin-bottom: 6rem;
}

/*working section css here*/
.working{
	width: 100%;
	background:#f6f6f6;
}
.work-desc{
	text-align: center;
	margin-top: 80px; 
}
.work-desc h2{
	margin-bottom: 20px;
}
.work-desc p{
	margin-bottom: 60px;
}
.design{
	width: 255px;
	height: 260px;
	background-color: #10c6fc;
	margin-bottom: 60px; 
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
.design a i{
	margin-top: 90px;
	color: #fff;
	font-size: 40px;
}
.design h6{
	text-transform: uppercase;
	margin-top: 26px !important;
}
.development{
	width: 255px;
	height: 260px;
	background-color: #835aeb;
	margin-bottom: 60px; 
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
.development a i{
	margin-top: 90px;
	color: #fff;
	font-size: 40px;
}
.development h6{
	text-transform: uppercase;
	margin-top: 26px;
}
.testing{
	width: 255px;
	height: 260px;
	background-color: #002453;
	margin-bottom: 60px; 
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
.testing a i{
	margin-top: 90px;
	color: #fff;
	font-size: 40px;
}
.testing h6{
	text-transform: uppercase;
	margin-top: 26px;
}
.launch{
	width: 255px;
	height: 260px;
	background-color: #ff2b4a;
	margin-bottom: 60px; 
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
.launch a i{
	margin-top: 90px;
	color: #fff;
	font-size: 40px;
}
.launch h6{
	text-transform: uppercase;
	margin-top: 26px;
}
/*details section css here*/

.details{
	width: 100%;
	background: url(../img/header-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
.experience{
	width: 540px;
	height: 545px;
	background-color: #64657d;
	margin-top: 100px; 	
	color: #fff;
	position: relative;
}
.uper-part h3{
	text-transform: uppercase;
}
.uper-part{
	margin: 30px;
	position: absolute;	
}
.uper-part h5{
	margin-top: 50px;
}
.uper-part h6{
	margin-top: 30px;
}
.uper-part p{
	margin-bottom: 50px;	
}
.box{
	width: 500px;
	height: 1px;
	color: white;
	margin-bottom: 50px;
	border-top: 1px solid white;
}
.lower-part{	
	margin-top: 350px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	position: absolute;
	
}
/*work details section css here*/
.work-details{
	width: 100%;
	background:#fff;
}
.work-dets{
	text-align: center;
	margin-top: 80px;
	margin-bottom: 50px;
}
.uper-blue{
	width: 255px;
	height: 255px;
	background-color: #10c6fc;
}
.uper-purple{
	width: 255px;
	height: 255px;
	background-color: #835aeb;
}
.uper-black{
	width: 255px;
	height: 255px;
	background-color: #002453;
}
.uper-red{
	width: 255px;
	height: 255px;
	background-color: #ff2b4a;
}
.lower-purple{
	width: 540px;
	height: 255px;
	background-color: #835aeb;
	margin-top: 16px;
	margin-bottom: 30px;
}
.lower-black{
	width: 255px;
	height: 255px;
	background-color: #002453;
	margin-top: 16px;
	margin-bottom: 30px;
}
.lower-red{
	width: 255px;
	height: 255px;
	background-color: #ff2b4a;
	margin-top: 16px;
	margin-bottom: 80px;
}

/*author section css here*/

.author{
	width: 100%;
	background: url(../img/light-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
.author-desc{
	margin-top: 150px;
}
.author-desc a i{
	color: #64657d;
}
.author-desc p{
	margin-top: 20px;
}
.author-desc h4{
	margin-top: 20px;
}
/*subcription section css here*/

.subcription{
	width: 100%;
	background: url(../img/header-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
.login-box{
	width: 540px;
	height: 540px;
	background-color: #64657d;
	margin-top: 100px; 	
	color: #fff;
	position: relative;
}
.login-box h4{
	text-transform: uppercase !important;
	position: absolute;
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.name-cont{
	width: 500px;
	height: 40px;
	background-color: #64657d;
	display: inline-block;
	position: absolute;
	margin-top: 90px;
	margin-left: 20px;
	border: 1px solid white;
	color: white;
	padding-left: 10px; 
}
.mail-cont{
	width: 500px;
	height: 40px;
	background-color: #64657d;
	display: inline-block;
	position: absolute;
	margin-top: 150px;
	margin-left: 20px;
	border: 1px solid white;
	color: white;
	padding-left: 10px; 
}
.sub-cont{
	width: 500px;
	height: 40px;
	background-color: #64657d;
	display: inline-block;
	position: absolute;
	margin-top: 210px;
	margin-left: 20px;
	border: 1px solid white;
	color: white;
	padding-left: 10px; 
}
.sub-messg{
	width: 500px;
	height: 160px;
	background-color: #64657d;
	display: inline-block;
	position: absolute;
	margin-top: 270px;
	margin-left: 20px;
	border: 1px solid white;
	color: white;
	padding-left: 10px; 
}
.cont-messg{
	width: 180px;
	height: 40px;
	background-color: red;
	display: inline-block;
	position: absolute;
	margin-top: 480px;
	margin-left: 340px;
	border: 1px solid red;
	color: white;
	padding-left: 10px; 
}
.cont-address{
	width: 500px;
	height: 540px;
	background-color: #64657d;
	margin-top: 100px;
	margin-left: 10px;	
	color: #fff;
	position: relative;
}
.cont-address p{	
	position: absolute;
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.address-box{
	width: 540px;
	height: 170px;
	font-color: white;
	background-color: #64657d;
	margin-top: 100px;	
	color: #fff;
}
.address-box h4{
	padding-top: 40px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.address-box p{
	margin-left: 20px;
}
.phone-box{
	width: 540px;
	height: 170px;
	font-color: white;
	background-color: #64657d;
	margin-top: 15px;		
	color: #fff;
}
.phone-box h4{
	padding-top: 40px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.phone-box p{
	margin-left: 20px;
}
.web-box{
	width: 540px;
	height: 170px;
	font-color: white;
	background-color: #64657d;
	margin-top: 15px;	
	color: #fff;
}
.web-box h4{
	padding-top: 40px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.web-box p{
	margin-left: 20px;
}

/*social icon section css here*/
.social-icon{
	width: 100%;
	background: url(../img/black-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 200px;
	text-align: center;

}
.social-icon ul li{
	list-style: none;
	display: inline-block;	
	padding-top:30px;
}
.social-icon ul li a i{
	color: white;
	letter-spacing: 20px;
	border: none;	
	border-right: 2px solid white;
	margin-top: 40px;
	margin-left: 15px;
	font-size: 20px;
}
.social-icon ul li a i:hover{
	color: red;
	transition: 0.75s;
	transform: scale(1.25);
}
.copyright p{
	color: white;
}
.copyright a{
	color: white;
}